.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section1 {
    margin: 20px 0;
}

.title {
    text-align: left;
    margin: 20px 0;
    font-size: 18px;
}

.img-container {
    margin: 50px 0;
}

.flex {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

img {
    width: 40%;
}

/* responsive layout for mobile */
@media (max-width: 768px) {
    .container {
        padding: 0 50px;
    }
    .flex {
        flex-direction: column;
    }
    img {
        width: 100%;
    }
    img:nth-child(2) {
        margin-top: 50px;
    }
}
